body{
  background-image:url("back2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
p{
  display: inline-block;
}
button{
  width: 100px;
  height: 35px;
  border-radius: 30px;
  background-color: white;
  font-family: Helvetica;
  text-decoration: bold;
  font-size: 20px;
  display: inline-block;
}
.ikona{
  width: 150px;
}
.titlos{
  position: relative;
  left:110px;
  bottom: 110px;
}
.div1{
  width: 360px;
  height: 330px;
  margin-left: 480px;
  font-family: Helvetica;
}
.pbox{
  margin-left: 13px;
}
.example{
  margin-left: 90px;

}
.specialty{
  margin-left: 9px;
}
.butt{
  margin-left: 480px;
  margin-bottom: -130px;
}
